
.social_icons{
    width: 100%;
    margin: 0px;

}
.social_icons ul.socials {
    margin: 0px;
    padding-right: 30px;
    text-align: right;
    
}

.social_icons ul.socials li{
    display: inline-block;
    width: 55px;
    height: 50px;
    margin: 0px 0px;
}
.social_icons ul.socials li a{
    text-decoration: none;
    color:rgb(215, 10, 167);
    font-size: 16px;
}
.social_icons ul.socials li a i {
    line-height: 30px;
}
